<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ pageName }}</title>
        {% include "head-metadata.njk" %}
        <link rel="stylesheet" href="/sass/main.css">
    </head>
    <body tabindex="-1">
        {% include "header.njk" %}
        {% include "navbar.njk" %}
        <main>
            <h2 class="heading-secondary">{{ pageName }}</h2>
            <p class="section-blurb">{{ blurb }}</p>

            <div class="section-markdown">
                {{ content | safe }}
            </div>
        <main>
    </body>
</html>