<header class="header">
    <h1 class="heading-primary">
        <span class="heading-primary--main">Kingdom Hearts 2 Final Mix</span>
        <span class="heading-primary--sub">Rando Reports</span>
    </h1>
</header>