<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ pageName }}</title>
        {% include "head-metadata.njk" %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
        <link rel="stylesheet" href="/sass/main.css">
    </head>
    <body tabindex="-1">
        {% include "header.njk" %}
        {% include "navbar.njk" %}
        <main>
            <h2 class="heading-secondary">{{ pageName }}</h2>
            <p class="section-blurb">{{ blurb }}</p>

            <div class="section-markdown">
                {{ content | safe }}
            </div>
        <main>
        <div class="section-map">
            <h3 class="heading-tertiary">Interactive Map</h3>
            <div class="map" id="map"></div>
            <script type="text/javascript"> let worldName = "{{ pageName | slug }}"; </script>
            <script src="/js/map.js"></script>
        </div>
    </body>
</html>