// sass details for navigation bar
$transition: 280ms all 120ms ease-out;
$nav-color-primary: #212121;
$nav-color-secondary: scale-color($nav-color-primary, $lightness: -30%);

.navigation {
    font-size: 2rem;
}

.navigation__nav {
    background-color: $nav-color-primary;
    padding: 0 1rem;
    position: relative;
    top: 0;
    display: grid;
    place-items: center;
    z-index: 1000;
    box-shadow: 0 0.5rem 0.2rem black;
}

.navigation__list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
}

.navigation__dropdown-list {
    // was dropdown__menu
    list-style: none;
    background-color: #515151;
    border-radius: 4px;
    box-shadow: 0 0.15rem 0.25rem rgba(black, 0.25);
    padding: 0.5rem 0;
    min-width: 30ch;
    position: absolute;
    top: calc(100% - 0.25rem);
    left: 50%;
    transition: $transition;
    transform-origin: top center;
    transform: rotateX(-90deg) translateX(-50%);
    opacity: 0.3;
}

.navigation__dropdown-link {
    color: #bdbdbd;
    display: block;
    padding: 0.5em;
    opacity: 0;
    transition: $transition;

    &:hover {
        background-color: rgba($nav-color-primary, 0.15);
        color: dodgerblue;
    }

    &:focus {
        outline: none;
        background-color: rgba($nav-color-primary, 0.25);
        color: dodgerblue;
    }

    &:link,
    &:visited {
        text-decoration: none;
    }
}

.navigation__item {
    // dropdown in original
    margin: 0 0.5rem;
    position: relative;
    color: #bdbdbd;
    border-top: 0.5rem solid transparent;
    transition: $transition;

    &::after {
        content: "";
        border: 0.5rem solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        top: calc(100% - 1.25rem);
        left: 50%;
        transform: translateX(-50%);
        transition: $transition;
        opacity: 0;
        will-change: opacity;
    }

    &:hover,
    &:focus-within {
        border-top-color: dodgerblue;

        .navigation__dropdown-list {
            opacity: 1;
            transform: rotateX(0) translateX(-50%);
            visibility: visible;
        }

        .navigation__dropdown-link {
            opacity: 1;
        }
    }
}

.navigation__button {
    // was dropdown__button
        padding: 1rem 0.5rem;
    background-color: transparent;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    text-align: center;

    &:hover,
    &focus {
        color: dodgerblue;
    }
}

.navigation__dropdown-item {
    padding: 0;
}

.navigation__link {
    color: #bdbdbd;
    display: block;
    padding: 0.5em;

    &:hover {
        background-color: rgba($nav-color-primary, 0.15);
        color: dodgerblue;
    }

    &:focus {
        outline: none;
        background-color: rgba($nav-color-primary, 0.25);
        color: dodgerblue;
    }

    &:link,
    &:visited {
        text-decoration: none;
    }
}
