.navigation {
    font-size: 2rem;
}

.navigation__nav {
    background-color: color-get("mine-shaft");
    padding: 0 1rem;
    position: relative;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0.5rem 0.2rem color-get("black");
}

.navigation__list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navigation__dropdown-list {
    list-style: none;
    background-color: color-get("emperor");
    border-radius: 4px;
    box-shadow: 0 0.15rem 0.25rem rgba(color-get("black"), 0.25);
    padding: 0.5rem 0;
    position: absolute;
    top: calc(100% - 0.25rem);
    left: 50%;
    transition: $nav-transition;
    transform-origin: top center;
    transform: rotateX(-90deg) translateX(-50%);
    opacity: 0.3;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.navigation__dropdown-link {
    color: color-get("silver");
    display: block;
    padding: 0.5em;
    opacity: 0;
    transition: $nav-transition;

    &:hover {
        background-color: rgba(color-get("mine-shaft"), 0.15);
        color: color-get("dodger-blue");
    }

    &:focus {
        outline: none;
        background-color: rgba(color-get("mine-shaft"), 0.25);
        color: color-get("dodger-blue");
    }

    &:link,
    &:visited {
        text-decoration: none;
    }
}

.navigation__item {
    margin: 0 0.5rem;
    position: relative;
    color: color-get("silver");
    border-top: 0.5rem solid transparent;
    transition: $nav-transition;

    &::after {
        content: "";
        border: 0.5rem solid transparent;
        border-bottom-color: color-get("white");
        position: absolute;
        top: calc(100% - 1.25rem);
        left: 50%;
        transform: translateX(-50%);
        transition: $nav-transition;
        opacity: 0;
        will-change: opacity;
    }

    &:hover,
    &:focus-within {
        border-top-color: color-get("dodger-blue");

        .navigation__dropdown-list {
            opacity: 1;
            transform: rotateX(0) translateX(-50%);
            visibility: visible;
        }

        .navigation__dropdown-link {
            opacity: 1;
        }
    }
}

.navigation__button {
    padding: 1rem 0.5rem;
    background-color: transparent;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;

    &:hover,
    &focus {
        color: color-get("dodger-blue");
    }
}

.navigation__dropdown-item {
    padding: 0;
    margin: 0;
    line-height: 1.2;
    white-space: nowrap;
}

.navigation__link {
    color: color-get("silver");
    display: block;
    padding: 0.5em;

    &:hover {
        background-color: rgba(color-get("mine-shaft"), 0.15);
        color: color-get("dodger-blue");
    }

    &:focus {
        outline: none;
        background-color: rgba(color-get("mine-shaft"), 0.25);
        color: color-get("dodger-blue");
    }

    &:link,
    &:visited {
        text-decoration: none;
    }
}
